.btn {
      font: inherit;
      font-size: 1.15rem;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 50px;
      border-radius: 5px;
      background-color: #0b3bac;
      color: white;
      border: 1px solid #0b3bac;
      margin: 1rem 1rem;
    }
    
    .btn:hover {
      background-color: #0f4bd5;
      border-color: #0f4bd5;
    }