body.active-modal {
      overflow-y: hidden;
  }
  
  .btn-modal {
      padding: 10px 20px;
      display: block;
      margin: 100px auto 0;
      font-size: 18px;
  }
  
  .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
      background: rgba(49,49,49,0.8);
  }
  
  .modalContent {
      position: absolute;
      z-index: 1000;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: #f1f1f1;
      padding: 14px 28px;
      border-radius: 3px;
      max-width: 600px;
      min-width: 300px;
      align-content: left;
      text-align: left;
  }
  
  .closeModal {
      position: absolute;
      top: -50px;
      left: 79.5%;
  }

  .uploadImg {
    position: absolute; 
    top: 29px;
    left: 0%;
  }

  .boldFont {
    font-weight: bold;
  }