.item {
      margin: 1rem 0;
    }
    
    .image {
      width: 100%;
      height: 20rem;
      overflow: hidden;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
    
    .image img {
      width: 100%;
      object-fit: cover;
    }
    
    .content {
      color: #2c292b;
    }
    
    .content h1 {
      text-align: center;
      font-size: 2.25rem;
      padding: 1.5rem;
    }

    .content h2 {
      text-align: left;
      font-size: 1.75rem;
      padding: 1rem 2rem;
    }

    .content h3 {
      padding: 0.1rem 3rem;
      text-align: left;
      font-size: 1rem;
    }
    
    .actions {
      padding: 1.5rem;
      text-align: center;
    }
    
    .actions button {
      font: inherit;
      cursor: pointer;
      color: #0b3bac;
      border: 1px solid #0b3bac;
      background-color: transparent;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
    }
    
    .actions button:hover,
    .actions button:active {
      background-color: #ffe2ed;
    }
    